extends layout
mixin navLink(link, name)
    li
        a(
        href=link
        ) #{name}
mixin gridView()
    tr
      td
      td
      td
      td
      td
      td
      td

block content
    a(href='/logout') Выйти
    .row
        div(class='col s3')
            p=username
            ul
                +navLink('#', 'Заказы')
                +navLink('#', 'Доставка')
                +navLink('#', 'Поломки')
                +navLink('#', 'Закупки')
                +navLink('#', 'Задачи')
                +navLink('#', 'Партнеры')
                +navLink('#', 'Guide')
                +navLink('#', 'Контакты')
        div(class='col s9')
            h4 Добро пожаловать #{username}
            .fixed-action-btn
                a(class='btn-floating btn-large red')
                    i(class='large material-icons') add
                ul
                    li
                        a(class='btn-floating green' href='/create-zakaz')
                            i(class='material-icons' title='Заказ') account_balance_wallet
                    li
                        a(class='btn-floating blue')
                            i(class='material-icons' title='Поломки') build
                    li
                        a(class='btn-floating red')
                            i(class='material-icons' title='Задачи') event_available
                    li
                        a(class='btn-floating yellow darken-1')
                            i(class='material-icons' title='Доставка') local_shipping
                    li
                        a(class='btn-floating orange')
                            i(class='material-icons' title='Закупки') add_shopping_cart
            table(class='highlight')
                thead
                    tr
                        th Закза
                        th Срок
                        th Описание
                        th Тег
                        th Доставка
                        th Сумма
                        th Статус
                tbody
                    +gridView